
<div style="border: solid blue;">
    <h3>Componente cocina</h3>
    <div>
    <h5>Pendientes cocinar</h5>
    @if (listOrderIncoming) {
    @for(item of listOrderIncoming; track $index){
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
            . {{ item.number }} {{ item.order }}
              <button class="btn btn-primary btn-sm"type="button" (click)="goToCock($index)">Cocinar</button>
            </li>
          </ul>
    }}
  
</div>

 <div>
  <h5>Pedidos en cocción</h5>
  @if (pedido) {
      <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
          . {{ pedido.number }} {{ pedido.order }}
           
              <button class="btn btn-danger btn-sm" (click)="orderFinish(pedido)" >Pedido terminado</button>
           
          </li>
        </ul>
      }
</div>
</div>